*.pyc
*.pyd
*.pklz
.DS_Store
*.
doc/notebooks/.ipynb_checkpoints/expr_vb_bml-checkpoint.ipynb

build/*
htmlcov/*
cover/*
.coverage*

doc/_build/*
doc/_templates/*
doc/_static/*

build
dist
BMLiNGAM.egg-info
log.txt

__pycache__
tmp/*

